* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;

}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width :100%; 
}

.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,#dd2476 51%,#ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary:hover {
    border: 2px solid #FF6767;
    cursor: pointer;
}

.humburger {
    display: none;
    color: white;
    padding: 0 15px;
    font-size: 40px;
    border-radius: 6px;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
}
.phone__view {
    display: none;
    background-color: white;
    z-index: 99;
}

.container{
    max-width: 100%;
    padding:  20px;
    margin: 0 auto;
}

.hero__image__container {
    width: 100%;
    position: relative;
}
.hero__image {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    z-index: 2;
}

.hero__text {
    font-weight: 800;
    font-size: 32px;
    margin: 20px 0;
    color: #1d3557;
}

.hero__bg__pattern {
    width: 100%;
    z-index: -1;
    top: 0;
}

.hero__shape {
    position: absolute;
    width: 100%;
    right: 10px;
    z-index: 1;
    top: 5px;
}

.food__card__description {
    padding: 5px;
    
}
.para {
    font-size: 16px;
}

.food__card {
    background-color: #F9F9F9;
    border-radius: 8px 8px 8px 8px;
    
}

.food__card__image__container {
    width: 100%;
}

.food__image {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: #1d3557;
}
.view {
    margin :20px 20px;
    
    text-align: center;
    transition: 0.3s;
    color: #fff;
    padding: 15px;
    border-radius: 6px;
    background: linear-gradient(
        to right, 
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
}

.restaurant__container {
    margin-top: 48px;
}
.restaurant__text {
    color:#1D3557;
    font-size: 24px;
}
.restaurant__image__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.restaurant__row1 {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: baseline;
}
.restaurant__image1,.restaurant__image3 {
    width: 150px;
    height: 80px;
    border-radius: 4px;
    box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

}
.restaurant__image2,.restaurant__image4 {
    width: 200px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.restaurant__row2 {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.email__container {
    margin-top: 60px;

}
.email__text {
    font-size: 24px;
    justify-content: center;
}
.email__content {
    display: flex;
    justify-content: center;
}

.email__input {
    background-color: #fcedf0;
    border: 1px solid #ee89a0;
    font-weight: 700;
    padding: 6px;
    border-radius: 4px;
    width: 320px;
    margin: 12px;
}

.quote__image__container {
    width: 100%;
    margin-top: 48px;
    position: relative;
}
.quote__image {
    width: 100%;
    height: 350px;
    border-radius: 16px;
    opacity: 0.87;
    background-color: #0a4065;
}
.quote__text {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 0px 16px;
    justify-content: center;
}

.footer__container {
    background: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    margin-top: 48px;
    border-radius: 10px 10px 0px 0px;

}

.footer__image__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__image {
    width: 300px;
    filter: brightness(0) invert(1);
}
.footer__content {
    list-style-type: none;
    text-align: center;
    margin: 32px;
}
footer ul{
    margin:5px;
  }
  
  footer ul li a{
    color:#FFFFFF;
    font-size:20px;
    margin:5px 0px;
  }




@media (min-width: 768px){
    .explore__menu__lists {
        margin-top: 30px;
        display: flex;
        gap: 15px;
        
    }

    .explore__menu__container {
        position: relative;
        margin-top: 100px;
        
    }

    .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);
        
    }

    #pizza__card {
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .view {
        background: none;
    }
    .restaurant__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 80px;
    }
    .restaurant__text {
        font-size: 30px;
    }
    .email__text {
        text-align: center;
        font-size: 48px;
        justify-content: space-between;
    }

    .quote__text {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }
    .footer__image__container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}

@media (min-width: 1024px) {
    .explore__menu__lists{
        gap: 25px;
        padding: 0 30px;
    }
    .container {
        max-width: 900px;
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary{
        padding: 20px;
        font-size: 20px;
    }

    .hero__description {
        width: 100%;
    }
    .hero__text {
        font-size: 50px;
    }
    .explore__menu__text {
        font-size: 48px;
    }
    .food__card__description {
        padding: 1rem;
    }
    .food__card {
        margin-bottom: 50px;
    }
    #pizza__card {
        margin-bottom: 80px;
    }
    .view {
        cursor: pointer;
    }
    .view:hover {
        background:#fff;
        color: #dd2476;
        
        box-shadow: 0 25px 50px -12px rgba(0,0,0.25);
    }
    .restaurant__container {
        margin-top: 80px;
    }

    .restaurant__image1,.restaurant__image3 {
        width: 250px;
        height: 180px;
    }
    .restaurant__image2,.restaurant__image4 {
        width: 300px;
        height: 260px;
    }
}

